body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
.center-and-space-content {
            text-align: center; /* Centers inline or inline-block content within the div */
            padding: 10px; /* Adds padding around the content inside the div */
        }


h1 {
    
            font-weight: bold;
            color: #005358;
        }

.div-verde{
    width: 75%;
    padding: 5%;
    background-color: #005358;
    margin: 0 auto;
    border-radius: 15px;
    color: #ffffff;
    font-family: 'Actor', sans-serif;
}

#upcoming-events {
            color: #13293D;
            background-color: #E8F1F2;
        }

a {
            color: inherit;
            text-decoration: none;
        }

a:visited {
            color: inherit;
        }